:root {
   --dark-cyan: hsl(158, 36%, 37%);
   --cream: hsl(30, 38%, 92%);

   --very-dark-blue: hsl(212, 21%, 14%);
   --dark-grayish-blue: hsl(228, 12%, 48%);
   --white: hsl(0, 0%, 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

* {
   margin: 0;
   padding: 0;
   color: var(--dark-grayish-blue);
   box-sizing: border-box;
}

body {
   background-color: var(--cream);
   height: 100vh;
   display: grid;
   place-items: center;
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
}

.main__container {
   display: grid;
   grid-template-rows: 1fr auto;
   max-width: 90%;
   max-height: fit-content;
   overflow: hidden;
   border-radius: 15px;
   background-color: white;
}

.main__container > picture > img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.main__picture-mobile {
   overflow: hidden;
   height: min-content;
}
.main__picture-desktop {
   display: none;
}
.main__content {
   padding: 1rem 2rem;
}
.content__type {
   text-transform: uppercase;
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   letter-spacing: 5px;
   color: var(--dark-grayish-blue);
   padding: 0.5rem 0;
}
.content__title {
   font-family: 'Fraunces', serif;
   font-weight: 700;
   font-size: 2.2rem;
   line-height: 2.2rem;
   padding: 0.5rem 0;
   color: var(--very-dark-blue);
}

.content__description {
   font-size: 1.0rem;
   padding: 1rem 0;
}

.price__container {
   display: flex;
   width: 100%;
   padding: 0.5rem 0;
   align-items: center;
}

.price__container :nth-child(1) {
   font-size: 2.2rem;
   color: var(--dark-cyan);
   font-family: 'Fraunces', serif;
   font-weight: 700;
   padding: 0 1.2rem 0 0;
}

.price__container :nth-child(2) {
   text-decoration: line-through;
   font-size: 1rem;
}

.button__add-to-cart {
   width: 100%;
   padding: 1rem 0;
   background-color: var(--dark-cyan);
   color: var(--white);
   border-radius: 10px;
   font-size: 1rem;
   border:0;
   transition-duration: 0.3s;
   cursor: pointer;
   margin: 0.5rem 0;
}

.button__add-to-cart > img {
   padding: 0 10px;
}

.button__add-to-cart:hover {
   background-color: var(--very-dark-blue);
}

/* 
   FOOTER SECTION
*/
.author__section{
   position: fixed;
   bottom: 0;
   padding-bottom: 15px;
   z-index: 1;
   width: 100%;
   text-align: center;
}
.author__section > * {
   color: var(--dark-blue);
   font-weight: 500;
}
.author__section > .author__spacer {
   margin: 0 4px 0 4px;
}
.author__section, a {
   text-decoration: none;
   transition: .3s ease-out;
}
.author__section > .author__anchor:hover {
   color: var(--bright-blue);
}

@media screen and (min-width: 450px) {
   .main__picture-mobile{
      display: none;
   }
   .main__picture-desktop {
      display: inline-block;
      min-width: fit-content;
   }

   .main__container {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      border-radius: 10px;
      width: 600px;
      height: 480px;
      margin: 0 1rem;
   }

   .main__content {
      padding: 2rem;
   }

   .content__title {
      font-size: 2.2rem;
      line-height: 2rem;
   }

   .content__description {
      font-size: 1rem;
      line-height: 1.7rem;
      padding: 0.5rem 0;
   }

   .price__container {
      padding: 0.5rem 0;
   }

   .button__add-to-cart {
      font-size: 1rem;
   }

   .main__container > picture > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}